/* Ensures full-width background image */
.app__header {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/header.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

/* Center the content (h1) */
.app__header-content {
  text-align: center;
}
.app__header-content h1 {
  font-size: 4rem;
}
.app__header-content a {
  text-decoration: none;
  background-color: #007BFF; /* Bright Blue background color */
  color: white; /* Button text color */
  font-size: 0.8rem; /* Increased font size for readability */
  padding: 15px 30px; /* Padding around the text */
  border: none; /* Remove border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition for smooth effects */
  margin-top: 20px; /* Space above the button */
  width: 100%; /* Full width */
}

.app__header-content a:hover {
  background-color: darkblue; /* Darker color on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

/* Responsive typography for smaller screens */
@media (max-width: 768px) {
  .app__header-content h1 {
      font-size: 2rem;
  }

  .app__header-content p {
      font-size: 1rem;
      bottom: 10px;
      left: 10px;
  }

  .app__header {
      background-size: cover;
      height: 60vh;
      width: 100vw;
  }

  /* Adjust button styles for smaller screens */
  .app__header-content a {
      font-size: 0.7rem; /* Smaller font size */
      padding: 10px 20px; /* Reduced padding */
      margin-top: 10px; /* Reduce top margin */
  }
}

@media (max-width: 360px) {
  .app__header {
      background-size: contain;
      height: 70vh;
  }

  /* Further adjustments for the smallest screens */
  .app__header-content a {
      font-size: 0.6rem; /* Smaller font size for very small screens */
      padding: 8px 16px; /* Further reduced padding */
      margin-top: 5px; /* Reduce top margin */
  }
}
