.why-bube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8); /* Lighter black than the Simulation section */
    padding: 0; /* No padding */
    color: white; /* Text color */
    height: 40vh;
    overflow: hidden; /* Ensure no overflow */
  }
  
  .top-left-image {
    position: absolute;
    top: 0; /* Align with the top edge */
    left: 0; /* Align with the left edge */
    width: 100%; /* Image takes full width */
    height: auto; /* Maintains aspect ratio */
    max-width: 33.333333333333%; /* Set max width for image */
  }
  
  .text-container {
    text-align: center;
    max-width: 33%; /* Control text container width */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    padding: 0; /* Removed padding */
    margin: 0; /* No margin */
    z-index: 1; /* Ensure text is above images */
    position: relative; /* Control overlap */
    border-radius: 8px;

  }
  
  .text-container h2,
  .text-container p {
    margin-bottom: 10%; /* Remove margin to avoid space */
  }
  
  .bottom-right-image {
    position: absolute;
    bottom: 0; /* Align with the bottom edge */
    right: 0; /* Align with the right edge */
    width: 100%; /* Image takes full width */
    height: auto; /* Maintains aspect ratio */
    max-width: 33.3333333%; /* Set max width for image */
  }
  